<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>


        <property name="hibernate.connection.url">jdbc:mysql://db:3306/laba4_db</property>

        <property name="hibernate.connection.username">laba4_user</property>

        <property name="hibernate.connection.password">laba4_user_password</property>


        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.itmo.backend.model.entity.Shot"/>
        <mapping class="com.itmo.backend.model.entity.User"/>
    </session-factory>
</hibernate-configuration>
